:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background: #111;
}
.logout{
  width:8%;
  background-color: #e50914;
    border-radius: 4px;
}
.movie_poster{
  height: 100%;
  width: 100%;
}
.row{
  overflow-y: hidden;
  overflow-x: scroll;
  flex-wrap: nowrap;
}
.row::-webkit-scrollbar{
  display: none;
}
.rows{
  overflow-x: hidden;
}
.rows h2{
  color: white;
  padding-left: 3rem;
}
.movie_row{
  padding-left: 3rem;
}
.poster_holder{
  cursor: pointer;
  box-shadow: none;
  border-radius: 6px;
  transform: scale(1);
  transition: all 0.2s;
}
.poster_holder:hover{
  transform: scale(1.1);
  box-shadow: rgba(255,255,255,0.6) 0px 0px 12px;
}
.smallRow{
  width: 12%;
}
.banner_container{
  height: 65vh;
  object-fit: contain;
  color: white;
}
.banner_content{
  padding-left: 4rem;
  padding-top: 8rem;
  width: 45rem;
}
.banner_content h1{
  font-size: 3rem;
  font-weight: 800;
  padding-bottom: 0.3rem;
}
.banner_content p{
  line-height: 1.3;
  padding-top: 1rem;
  font-size: 0.91rem;
  max-width: 360px;
}
.login_nav{
  width:100%;
  position: fixed;
    top: 0;
    right:0;
}
.banner_content button{
  color: white;
  outline: none;
  border: navajowhite;
  font-weight: 700;
  border-width: 0.2vw;
  padding: 0.5rem 2rem;
  background-color: rgba(79,76,77,0.6);
  transition: all 0.2s;
}
.banner_content button:hover{
  color: black;
  background-color: #e6e6e6;
}
.banner_content i{
  font-size: 1.3rem;
  margin-right: 0.2rem;
}
.banner_bottom_shadow_effect{
  height: 7.4rem;
  background-image: linear-gradient(180deg,transparent,rgba(37,37,37,0.61),#111);
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
}
.nav{
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
  display: block!important;
  background-color: transparent;
  transition-timing-function: ease-in;
  transition: all 0.4s;
}
.nav_black{
  background-color: #111;
}
button:active{
  transform: scale(0.95);
}
.brand_logo{
  width: 7.5rem;
  height: auto;
}
.modal-dialog{
  max-width: 70%!important;
}
.modal-content{
  height: auto;
  width: 100%;
  background-color: #111;
  color: white;
}
.modal-body iframe{
  width: 100%;
}
.bigRow{
  width: 17%;
}
.login_bg{
  position: relative;
  background: url("https://assets.nflxext.com/ffe/siteui/vlv3/83e8c151-107d-4e8f-b95a-d2ba99d49bb9/f1ac72e1-5adc-4caf-bceb-e8ec775414ac/IN-en-20230213-popsignuptwoweeks-perspective_alpha_website_large.jpg") center no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
}
.login_gradient{
  width: 100%;
  height: 100vh;
  background: rgba(0,0,0,0.4);
  background-image: linear-gradient(to top, rgba(0,0,0,0.8) 0,rgba(0,0,0,0) 60%,rgba(0,0,0,0.8) 100% );
}
.login_body{
  position: absolute;
    left: 25%;
    top: 28%;
    color: white;
    text-align: center;
    /*padding: 40px;
    background-color: rgba(0,0,0,0.8);*/
top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
/*width: 650px;*/
}
@media (max-width:1400px){
  .login_nav{
    width: auto;
  }
}
@media (max-width:1200px){
  .smallRow{
      width: 16%;
  }
  .bigRow{
      width: 21%;
  }
}
@media (max-width:992px){
  .smallRow{
      width: 21%;
  }
  .bigRow{
      width: 26%;
  }
  .logout{
    width: 12%;
  }
  .get_started{
    width: 40rem;
  }
}
@media (max-width:768px){
  .banner_content {
      padding-left: 3rem;
      width: 80%;
  }
  .smallRow{
      width: 27%;
  }
  .bigRow{
      width: 32%;
  }
  .rows h2, .movie_row {
      padding-left: 1.5rem;
  }
  .modal-dialog {
      max-width: 90%!important;
  }
  .logout{
    width: 15%;
  }
  .get_started{
    width: 30rem;
  }
  .signin_form{
    width: 30rem!important;
  }
  }
@media (max-width:576px){
  .banner_content {
      padding-left: 1.5rem;
      width: 100%;
  }
  .banner_content .row{
      width: 100%;
  }
  .banner_content h1 {
      font-size: 2.1rem;
  }
  .smallRow{
      width: 33%;
  }
  .bigRow{
      width: 39%;
  }
  .rows h2, .movie_row {
      padding-left: 1rem;
  }
  .brand_logo {
      width: 6rem;
  }
  .modal-dialog {
      max-width: 100%!important;
      margin: auto!important;
  }
  .logout{
    width: 20%;
  }
  .signin{
    font-size: 0.8rem;
  }
  .get_started{
    width: 23rem;
  }
  .get_started h1{
    font-size: 1.6rem;
  }
  .get_started h4{
    font-size: 1rem;
  }
  .signin_form {
    width: 23rem!important;
}
}
@media (max-width:400px){
  .brand_logo {
      width: 5rem;
  }
  .banner_content {
      padding-left: 1rem;
      padding-right: 1rem;
  }
  .banner_container {
      height: 60vh;
  }
  .banner_content h1 {
      font-size: 1.6rem;
  }
  .banner_content button{
      padding: 0.5rem 1rem;
      font-size: 0.8rem;
  }
  .banner_content i {
      font-size: 1rem;
  }
  .banner_content p{
      font-size: 0.85rem;
  }
  .rows h2{
      font-size: 1.2rem;
  }
  .smallRow {
      width: 39%;
  }
  .bigRow {
      width: 46%;
  }
  .logout{
    width: 23%;
    font-size: 0.77rem;
  }
  .netflix_logo{
    width: 25%!important;
  }
  .get_started{
    width: 18rem;
  }
  .get_started button{
    font-size: 0.8rem;
  }
  .get_started h1{
    font-size: 1.3rem;
  }
  .get_started h4{
    font-size: 0.9rem;
  }
  .get_started h4{
    font-size: 0.85rem;
  }
  .signin_form {
    width: 18rem!important;
}
}

